.dashboard{
  height: 100%;
  margin: 10px;
  overflow:scroll;
  width: 989px;
  text-align: center;
  font-weight: 200;
  background-color: whitesmoke;
  padding: 15px;
}

.tables{
  height: 25px;
  width: 35px;
  background: white;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  transition: box-shadow 1s;
}

.tables:hover{
  box-shadow: 2px 3px 1px grey;
}

.escenario
{
    position: absolute;
    margin-left: 86px;
    font-size: 30px;
    font-weight: 100;
    margin-top: -30px;
}

.pista
{
    position: absolute;
    margin-top: 155px;
    font-size: 30px;
    font-weight: 100;
    margin-left: -95px;
}

.entrada{
  font-size: 30px;
  margin-top: 47px;
  position: absolute;
  margin-left: -53px;
  font-weight: 100;
}

.card-info{
  background-color: whitesmoke;
  margin: 10px;
  height: 100%;
  margin-left: 45px;
}

.label-select{
  font-size: 3.0em;
  font-weight: 100;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

h4{
 font-weight: 300;
 text-align: center;
 margin-bottom: 15px;
}

small{
  font-weight: 100;
}

.col-xs-4{
  text-align: center;
}

.select-table{
  display: inline-block;
  height: 76px;
  border-radius: inherit;
  font-weight: 300;
}
